@media (max-width: 800px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 20px;
        padding: 3px 6px;
        margin: 0;
    }
}
.modal-dialog {
    display: flex;
    align-items: center;
}

.modal-content {
    margin: auto;
    width: 100%; 
}

.modal-body img {
    width: 100%;
    height: auto; 
}