p {
    font-size: 15px;
    color: white;
    padding: 30px;
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
    display: block;
}


.content {
    padding-bottom: 50px;
}


.row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 auto; 
    max-width: 1200px; 
    align-items: stretch; 
}


.column {
    flex: 0 0 33.33%; 
    max-width: 33.33%;
    padding: 0 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.column img {
    margin-top: 8px;
    width: 100%; 
    display: block;
    border: 5px solid #ffffff;
    flex-grow: 1; 
    object-fit: cover; 
}


@media (max-width: 800px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .nav-link {
        font-size: 20px;
        padding: 3px 6px;
        margin: 0;
    }
}
.modal-dialog {
    display: flex;
    align-items: center;
}

.modal-content {
    margin: auto;
    width: 100%; 
}

.modal-body img {
    width: 100%;
    height: auto; 
}